<nav class="navbar">
  <div class="container">
    <div class="orario">
        <p>Tutti i giorni dalle<br> 06:00 - 02:00</p>
    </div>
    <%= image_tag "Rhegion1.png", width:"170", class:"navbar-logo" %>
    <div id="main" >
      <svg xmlns="http://www.w3.org/2000/svg" id="b032a4a6-eb1b-4c0e-b99c-d687dcadd10e" data-name="Layer 1" width="41.3999" height="23.6001" viewBox="0 0 41.3999 23.6001" onclick="openNav()" >
        <rect width="41.3999" height="2"></rect><rect x="21.6001" y="10.8003" width="19.7998" height="2"></rect>
        <rect x="32.3999" y="21.6001" width="9" height="2"></rect>
      </svg>
    </div>
    <div id="mySidenav" class="sidenav">
      <header>Benvenuti</header>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/" id="home">Home</a>
      <%# <a>Menu</a> %>
      <%# <a href="about" id="about">Chi siamo</a> %>
      <a href="contacts" id="contacts">Contatti</a>
    </div>

  </div>
</nav>
