<div class="icons-contact">
  <span><i class="bi bi-telephone"></i> <a href="tel:+390643689678">+39 06 4368 9678</a></span>
  <span><i class="bi bi-envelope-at"></i>  <a href="mailto:rhegion.caffe@hotmail.com">rhegion.caffe@hotmail.com</a> </span>
  <span><i class="bi bi-geo-alt"></i> Via Oderisi da Gubbio 201, 00146 Roma</span>
</div>
<div id="map"></div>

<div  style="width:50%; margin:auto; text-align:center; margin-top: 20px">
  <p>Via Oderisi da Gubbio, 201,
  00146 Roma RM,<br>
  Italy</p>
</div>
