<div class="contact-page">
  <div class="icons-contact">
    <span><i class="bi bi-telephone"></i> <a href="tel:+390643689678">+39 06 4368 9678</a></span>
    <span><i class="bi bi-envelope-at"></i>  <a href="mailto:rhegion.caffe@hotmail.com">rhegion.caffe@hotmail.com</a> </span>
    <span><i class="bi bi-geo-alt"></i> <a href="https://www.google.fr/maps/place/Via+Oderisi+da+Gubbio,+201,+00146+Roma+RM,+Italia/@41.8637609,12.4621209,17z/data=!3m1!4b1!4m6!3m5!1s0x13258a9908ea0b0f:0x9bf8ad097a40f256!8m2!3d41.8637609!4d12.4646958!16s%2Fg%2F11dz_1mjhv?entry=ttu">Via Oderisi da Gubbio 201, 00146 Roma</a></span>
  </div>
  <div id="map"></div>

  <div class="contact-text">
    <p>Via Oderisi da Gubbio, 201,
    00146 Roma RM,<br>
    Italy</p>
  </div>
</div>
