<div class="icons-contact">
  <span><i class="bi bi-telephone"></i> +39 06 4368 9678</span>
  <span><i class="bi bi-envelope-at"></i> rhegion.caffe@hotmail.com</span>
  <span><i class="bi bi-geo-alt"></i> Via Oderisi da Gubbio 201, 00146 Roma</span>
</div>
<div id="map"></div>

<div  style="width:50%; margin:auto; text-align:center; margin-top: 20px">
  <p>Via Oderisi da Gubbio, 201,
  00146 Roma RM,<br>
  Italy</p>
</div>
