<div class="menu-header">
  <h1 style="font-size:50px">Menu</h1>
  <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="menu image">
</div>

<div class="tile-title">
  <h1>Colazione</h1>
</div>

<div style="padding-bottom:30px">
  <div class="menu-body">
    <div style="width:40%;">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tile-title">
    <h1>Pranzo</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tile-title">
    <h1>Bevande</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <h3>Analcoliche</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <h3>Alcoliche</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-home">
  <div class="footer-content">
    <p>Sito realizzato da ® <a href="https://www.instagram.com/albertnikolli/">Albert Nikolli</a></p>
  </div>
</div>
