<div class="menu-header">
  <h1>Menu</h1>
  <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="menu image">
</div>

<div style="padding-bottom:30px">
  <div class="tile-title">
    <h1 id="pasticcini">Colazione</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Caffè </h3>
          <p>Espresso Classico</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>1,10</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Cappuccino </h3>
          <p>Caffè espresso, latte montato e schiuma</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,30</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Capuccino deca</h3>
          <p>Cappuccino decaffeinato</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Cappuccino soia</h3>
          <p>Cappuccino preparato con latte di soia</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,60</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Latte macchiato</h3>
          <p>Latte caldo “macchiato” con un po’ di espresso per un gusto delicato di caffè</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Caffè latte</h3>
          <p>Caffè espresso con più latte e meno schiuma rispetto al cappuccino</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Ginseng</h3>
          <p>Alternativa leggermente dolce e a base di erbe al caffè, fatta con estratto di ginseng</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,40</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Orzo</h3>
          <p>Alternativa al caffè senza caffeina, a base di orzo tostato</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,10</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Cornetto semplice</h3>
          <p>Un dolce semplice</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>1,10</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Cornetto ripieno</h3>
          <p>Cornetti ripieni di crema, pistacchio o Nutella</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,30</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Girelle</h3>
          <p>Dolce arrotolato</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,30</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Treccia</h3>
          <p>Dolce intrecciato a base di pasta dolce</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,30</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Crema scantily, scantily cioccolato</h3>
          <p>Dolci ripieni di crema ricca o cioccolato</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,90</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Maritozzo con la panna</h3>
          <p>Dolce romano tradizionale ripieno di panna montata</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,90</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Ballo</h3>
          <p>Piccolo dolce, popolare per la colazione</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Briosc siciliano</h3>
          <p>Morbido brioche siciliano</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>1,50</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tile-title">
    <h1>Aperitivi e Pranzo</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Aperitivo completo con il mangiare </h3>
          <p>Un aperitivo completo accompagnato da stuzzichini</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>6,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Panino classico</h3>
          <p>Un semplice panino con ripieni tradizionali</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>3,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Focaccia ripiena</h3>
          <p>Focaccia morbida ripiena di gustosi ingredienti.</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>3,00</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <div class="tile-container">
        <div class="tile-content">
          <h3>Pizzetta rossa</h3>
          <p>Pizzetta con salsa di pomodoro</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>2,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Pizzetta al salmone</h3>
          <p>Pizzetta condita al salmone</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>2,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Pizzetta margherita</h3>
          <p>Pizzetta condita con salsa di pomodoro e mozzarella</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>2,50</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tile-title">
    <h1 id="bevande">Bevande</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <h3>Analcoliche</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Name of aliment</h3>
          <p>Description of aliment</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>200</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <h3>Alcoliche</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Birra</h3>
          <p>Varietà di birre in bottiglia</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>3,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Vino</h3>
          <p>Selezione di vini pregiati, sia rossi che bianchi</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>5,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Prosecco</h3>
          <p>Bicchiere di spumante</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>5,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Cocktail</h3>
          <p>Cocktail classici o moderni</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>6,00</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tile-title">
    <h1>Granite</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <h3>Granita piccola</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita pistacchio</h3>
          <p>Granita siciliana al gusto pistacchio</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>3,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita gelsi</h3>
          <p>Granita siciliana al gusto gelsi</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>3,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita limone</h3>
          <p>Granita siciliana al gusto limone</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>3,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita caffè</h3>
          <p>Granita siciliana al gusto caffè</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>3,50</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita mandorla</h3>
          <p>Granita siciliana al gusto mandorla</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>3,50</p>
        </div>
      </div>
    </div>
    <div style="width:40%;">
      <h3>Granita grande</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita pistacchio</h3>
          <p>Granita siciliana al gusto pistacchio</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>5,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita gelsi</h3>
          <p>Granita siciliana al gusto gelsi</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>5,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita limone</h3>
          <p>Granita siciliana al gusto limone</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>5,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita caffè</h3>
          <p>Granita siciliana al gusto caffè</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>5,00</p>
        </div>
      </div>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Granita mandorla</h3>
          <p>Granita siciliana al gusto mandorla</p>
        </div>
        <div class="tile-content">
          <h3></h3>
          <p>5,00</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tile-title">
    <h1>Gelato Artigianale</h1>
  </div>
  <div class="menu-body" id="gelato">
    <div class="body">
      <h3>Piccolo</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Porzione piccola</h3>
          <p>Gelato italiano fatto a mano</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>2,50</p>
        </div>
      </div>
    </div>
    <div class="body">
      <h3>Medio</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Porzione media</h3>
          <p>Gelato italiano fatto a mano</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>3,00</p>
        </div>
      </div>
    </div>
    <div class="body">
      <h3>Grande</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Porzione grande</h3>
          <p>Gelato italiano fatto a mano</p>
        </div>
        <div class="tile-content">
          <h3>€</h3>
          <p>3,50</p>
        </div>
      </div>
    </div>

  </div>

  <div class="tile-title">
    <h1 id="eventi">Torte</h1>
  </div>
  <div class="menu-body">
    <div style="width:40%;">
      <h3>Torte semifreddo</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Torta smifreddo</h3>
          <p>Torte semifreddo, vendute al chilo</p>
        </div>
        <div class="tile-content">
          <h3>€ / kg</h3>
          <p>15,00</p>
        </div>
      </div>
    </div>
    <div style="width:40%">
      <h3>Torte compleanno</h2>
      <div class="tile-container">
        <div class="tile-content">
          <h3>Torta compleanno</h3>
          <p>Eleganti torte di compleanno vendute al chilo</p>
        </div>
        <div class="tile-content">
          <h3>€ / kg</h3>
          <p>20,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-home">
  <div class="footer-content">
    <p>Sito realizzato da ® <a href="https://www.instagram.com/albertnikolli/">Albert Nikolli</a></p>
  </div>
</div>
