.relative {
  position: relative;
}
.rhegion-background {
  background-image:src('Rhegion.png');

  h1 {
    font-size:180px;
    font-family:copperplate gothic 29, sans-serif;
    font-weight:100;
  }
}
.cont {
  width: 80%;
  margin: auto;
}

.heading {
  text-align: center;
  border-bottom: 1.5px solid rgb(246, 202, 46);
  padding-top: 20px;
  margin: auto;
}

.desc {
  text-align: center;
  border-bottom: 1.5px solid rgb(246, 202, 46);
  padding-top: 20px;
  margin: auto;
  color: white;
  font-size:16px !important;
  @media (max-width: 768px) {
    text-align: center;
    border-bottom: 1.5px solid rgb(246, 202, 46);
    padding-top: 20px;
    margin: auto;
    color: white;
    font-size: 9px !important;
  }

  // Media query for smartphones (576px)
  @media (max-width: 576px) {
    text-align: center;
    border-bottom: 1.5px solid rgb(246, 202, 46);
    padding-top: 20px;
    margin: auto;
    color: white;
    font-size: 9px !important;
  }

}

.social-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  border-bottom: 1.5px solid rgb(246, 202, 46);

  .icon-cont a {
    text-decoration: none;
    color: rgb(246, 202, 46);
  }

}

.m-r-20 {
  margin-right: 20px;
}

.m-t-45{
  margin-top: 45px;

  @media (max-width: 768px) {
    margin-top: 45px;

  }
  @media (max-width: 576px) {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: white;

    @media (max-width: 768px) {
      text-decoration: none;
      color: white;
      font-size: 9px;
      letter-spacing: 4px; // Adjust letter spacing for smartphones /* Adjust height as needed */
    }
    @media (max-width: 576px) {
      text-decoration: none;
      color: white;
      font-size: 9px;
      letter-spacing: 4px; // Adjust letter spacing for smartphones /* Adjust height as needed */
    }

  }


  p {
    font-size: 16px;
    color: white;

    @media (max-width: 768px) {
      font-size: 9px;
      letter-spacing: 4px; // Adjust letter spacing for smartphones /* Adjust height as needed */
    }
    @media (max-width: 576px) {
      font-size: 9px;
      letter-spacing: 4px; // Adjust letter spacing for smartphones /* Adjust height as needed */
    }

  }
}

.contact {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

  }
  @media (max-width: 576px) {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column; /* Align items vertically */
    margin-top: 10px;
  }
}

.item:first-child {
  margin-left: 20px;

  @media (max-width: 768px) {
    margin: auto;
  }
  @media (max-width: 576px) {
    margin: auto;
  }
  .item:last-child {
    margin-right: 100px;
  }
}

.contact-page {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20px
}
