.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
}

.white {
  color: rgb(246, 202, 46);
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 8px;

  &:hover {
    color: white;
  }
}

.icons-contact {
  i {
    font-size: 30px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 40px;
}

.icons-contact a {
  color: rgb(246, 202, 46);
  text-decoration: none;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 8px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;

  &:hover {
    color: white;
  }
}
