.img {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.home-img {
  width: 353px;
  height: 253px;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  &:hover {
    filter: grayscale(0%);
  }
}
