 /* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 80%; /* The width is the width of the web page */
  margin-top: 0px;
  border-bottom: 2px solid rgb(246, 202, 46);
  border-top: 2px solid rgb(246, 202, 46);
  margin: auto;

}

.map-home {
  width: 500px !important;
  height: 300px !important;
  margin-top: 50px !important;
  border-bottom: none !important;
}
