/* Navbar styles */
.navbar {
  background-color: rgba(0, 0, 0, 1); /* Transparent background */
  height: 105px; /* Adjust height as needed */
  width: 80%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000; /* Ensure navbar appears above other content */
  border-bottom: 2px solid rgb(246, 202, 46);
  position: sticky;
  top: 0;
}

.container {
  max-width: 1200px; /* Adjust container width as needed */
  width: 100%;
  padding: 0 20px;
}

.navbar-item {
  flex: 1;
  text-align: center;
}

.navbar-item-centered {
  flex: 0 0 auto;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
